@using WebFileManager.Models.FilesModels
@using System.IO;
@{
    ViewData["Title"] = "Files";
}

<div id="diskInfo">
    <div id="tableDisk">
        <table onclick="VieUnvie()" style="cursor: pointer">
            <tr>
                <td>
                    <img src="~/img/hd_disk_harddisk_162.png" style="height:45px;width:45px" />
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                Все пространство дисков
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <progress value="@(WebFileManager.Controllers.FilesController.disk.TotalSize.ToGB(0) - WebFileManager.Controllers.FilesController.disk.TotalFreeSpace.ToGB(0))" max="@WebFileManager.Controllers.FilesController.disk.TotalSize.ToGB(0)"></progress>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @WebFileManager.Controllers.FilesController.disk.TotalFreeSpace.ToGB() ГБ свободно из @WebFileManager.Controllers.FilesController.disk.TotalSize.ToGB() ГБ
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="allDisk" style="display:none">
            @{foreach (DriveInfo driveInfo in WebFileManager.Controllers.FilesController.disk.Disks)
                {
                    <tr>
                        <td width="45px">
                        </td>
                        <td>
                            <img src="~/img/hd_disk_harddisk_162.png" style="height:45px;width:45px" />
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        локальный диск (@driveInfo.Name.Replace("\\", ""))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <progress value="@(driveInfo.TotalSize.ToGB(0) - driveInfo.TotalFreeSpace.ToGB(0))" max="@driveInfo.TotalSize.ToGB(0)"></progress>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @driveInfo.TotalFreeSpace.ToGB() ГБ свободно из @driveInfo.TotalSize.ToGB() ГБ
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


<div id="FileBrowser" style="width:100%; height:auto">
    <div id="PathView" class="FileManager" style="width:30%;">
        fff
    </div>
    <div id="FilesView" class="FileManager" style="width: 70%; height: 100%;">
        <table id="FilesAndFolders">
            <tr>
                <th> Name </th>
                <th>Change date</th>
                <th> Type </th>
                <th> Size </th>
            </tr>
            @{
                foreach (var folder in WebFileManager.Controllers.FilesController.folderModels[0].Folders)
                {
                    <tr class="FileFolderRow">
                        <td>
                            <img src="~/img/folder.png" /> @folder.ThisDirectoryInfo.Name
                        </td>
                        <td>
                            @folder.ThisDirectoryInfo.LastWriteTime
                        </td>
                        <td>
                            Folder
                        </td>
                        <td>
                            @folder.Size.ToMB() MB
                        </td>
                    </tr>
                }
                foreach (var file in WebFileManager.Controllers.FilesController.folderModels[0].Files)
                {
                    <tr class="FileFolderRow">
                        <td>
                            <img src="~/img/file.png" />@file.Name
                        </td>
                        <td>
                            File
                        </td>
                        <td>
                            @file.Length.ToMB() MB
                        </td>
                    </tr>
                }
            }
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<script>
    function VieUnvie() {
        var table = document.getElementById("allDisk");
        if (table.style.display == "none") {
            table.style.display = "block";
        }
        else {
            table.style.display = "none";
        }
    }


    $(function () {
        $("tr").dblclick(function (e) {
            if (this.getElementsByTagName("td")[2].innerText == "Folder") {
                $(".FileFolderRow").remove();

            }
            else {
                alert("i can't open files ");
            }
        })
    })

    function CleareFileFolderRow() {
    }
</script>
<style>
    .FileManager {
        border: 4px solid;
        border-color: blueviolet;
        float: left;
    }
    .FileFolderRow:hover {
        background-color: aqua;
    }
</style>
